.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    box-shadow: none !important;
}
.InfoTable{
    border-bottom: none;
    margin-top: 1rem;
}
.InfoTable_th{
    font-weight: 600 !important;
    line-height: 1rem !important;
    border-bottom: none !important;
}
.InfoTable_td{
    border-bottom: 0.01rem var(--color-01) solid !important;
    font-size: 0.86rem !important;
}
@media only screen and (max-width: 1300px){
    .InfoTable_th{
        font-size: 1rem !important;
    }
    .InfoTable_td {
        font-size: 0.9rem !important;
        padding-left: 0px !important;
    }
}
@media only screen and (max-width: 1000px){
    .InfoTable_th{
        font-size: 0.9rem !important;
    }
    .InfoTable_td {
        font-size: 0.8rem !important;
    }
}