.header_top{
    height: 80px;
}
.web_logo{
    width: 100px;
}
.header_top__number{
    border-left: 1px black solid;
    padding: 10px;
}
.header_top__number h3{
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    color: black;

}
.Header_link__item{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header_link__item a{
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    color: black;
    text-decoration: none;
}
.header_top__search input::placeholder{
    font-size: 12px;
    font-weight: 400;
}
.header_top__search a{
    right: 25px;
    top: 12px;
    z-index: 1;
    color: var(--color-02);
}
.header_top__search input:focus-visible{
    border: 1px solid #dee2e6!important;
}
.header_top__favorite svg,
.header_top__shop svg{
    width: 1.3rem;
    height: 1.3rem;
}
.header_top__favorite h4,
.header_top__favorite span{
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 0px;
}
.header_top__favorite span{
    color: var(--color-02);
}
.header_top__shop span{
    background-color: var(--color-02);
    color: white;
    width: 15px;
    height: 15px;
    top: -7px;
    right: -8px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
}