@mixin headingTag ($size,$wight,$color) {
    font-size: $size;
    font-weight: $wight;
    color: $color;
}
.newsBox{
    .swiper{
        width: 90%;
        margin: 0px auto;
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2n){
            .newsBox_slider_item{
                flex-direction: row-reverse;
                &_img{
                    left: 0px;
                    right: auto;
                }
            }
        }
    }
    &_title{
        h2{
            @include headingTag(1.5rem,800,black);
        }
    }
    &_slider{
        &_item{
            position: relative;
            width: 100%;
            align-items: stretch;
            transition: 0.7s ease-in-out;
            &_img{
                position: absolute;
                width: 50%;
                height: 80%;
                top: 25px;
                right: 0px;
                z-index: -1;
            }
            &_info{
                width: 60%;
                border: 2px #dbdbdb solid;
                padding: 40px 25px;
                box-shadow: 0px 0px 2px 1px #dbdbdb;
                background-color: white;
                &_text{
                    span{
                        @include headingTag(0.8rem,300,black);
                    }
                    h4{
                        @include headingTag(1.2rem,600,black);
                        margin-top: 3px;
                    }
                    p{
                        @include headingTag(0.8rem,400,black);
                        margin-top: 15px;
                    }
                }
                &_btn{
                    margin-top: 25px;
                    display: flex;
                    justify-content: flex-start;
                    button{
                        background-color: transparent;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{}
                        p{
                            @include headingTag(0.8rem,600,black);
                            margin-bottom: 0px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            &:hover{
                .newsBox_slider_item_info{
                    background-color: var(--color-01);
                    transition: 0.8s ease;
                    box-shadow: 0px 0px 2px 1px var(--color-01); 
                }
                .newsBox_slider_item_img{
                    box-shadow: -1px 2px 4px 1px #dbdbdb;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .newsBox_slider_item_info_text h4 {
        font-size: 1rem;
    }
    .newsBox_slider_item_info_text span {
        font-size: 0.7rem;
    }
    .newsBox_slider_item_info_text p{
        font-size: 0.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} 
@media only screen and (max-width: 768px){
    .newsBox .swiper-slide{
        width: 100% !important;
    }
}