.Slider_productImage{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    margin-left: 5rem;
}
.ButtonSlider_productImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ButtonSlider{
    width: 270px;
}
.Slider_product{
    width: 100%;
}
.Slider_product .swiper-button-prev,.Slider_product .swiper-button-next {
    bottom: 0% !important;
}
.Slider_product .swiper-button-next:after,.Slider_product .swiper-button-prev:after {
    font-size: 18px !important;
}
.Slider_productDiscount{
    z-index: 10;
    top: 37%;
    left: 35px;
    background-color: var(--color-01);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.Slider_productDiscount h3{
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0px;
}
.Slider_productDiscount p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}