$--color-02: rgb(255,140,145);
@mixin headingTag ($size,$wight,$color) {
    font-size: $size !important;
    font-weight: $wight !important;
    color: $color !important;
}
@mixin  aftereEffect ($h, $w, $b) {
    content: '';
    position: absolute;
    height: $h;
    width: $w;
    background-color: $b;
}
.footer{
    &_info{
        &_box{
            &_title{
                position: relative;
                h2{
                    @include headingTag(1.5rem,800,$--color-02);
                }
                &::after{
                    @include aftereEffect(2px,100%,$--color-02);
                }
            }
            &_info{
                margin-top: 30px;
                p{
                    @include headingTag(0.8rem,600,black);
                }
            }
        }
        &_links{
            &_item{
                &_title{
                    position: relative;
                    h4{
                        @include headingTag(1.2rem,600,black);
                    }
                    &::after{
                        @include aftereEffect(2px,100%,$--color-02);
                    }
                }
                &_links{
                    margin-top: 30px;
                    ul{
                        padding-left: 0px;
                        li{
                            list-style-type: none;
                            margin-top: 10px;
                            a{
                                @include headingTag(0.8rem,400,black);
                                text-decoration: none;
                                transition: 0.7s ease-in-out;
                            }
                            transition: 0.7s ease-in-out;
                            &:hover{
                                a{
                                    color: $--color-02 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        &_social{
            &_title{
                position: relative;
                h4{
                    @include headingTag(1.2rem,600,black);
                }
                &::after{
                    @include aftereEffect(2px,100%,$--color-02);
                }
            }
            &_info{
                margin-top: 30px;
                p{
                    @include headingTag(0.9rem,400,black);
                }
            }
            &_svg{
                svg{
                    margin-right: 20px;
                    width: 25px;
                    height: 25px;
                    fill: black;
                    transition: 0.7s ease-in-out;
                    &:hover{
                        fill: $--color-02;
                    }
                }
            }
        }
    }
}